section#judging.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center
      h2.section-title Judges
    .row.justify-content-center
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Chris Frederickson
          h4 ProfHacks Founder
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Nick Felker
          h4 Developer Programs Engineer for the Google Assistant
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Chris Dietsch
          h4 IEEE Region 2 Young Professionals Chair
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Aaron Yangello
          h4 IDT Systems Engineer
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Jake Harris
          h4 IDT Systems Engineer
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Dr. Ghulam Rasool
          h4 Rowan Electrical and Computer Engineering professor
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Chris Green
          h4 Lockheed Martin RF Systems Engineer
          h4 Rowan Electrical and Computer Engineering graduate
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Dr. Sangho Shin
          h4 Rowan Electrical and Computer Engineering professor
      .col-md-4.col-lg-4.col-sm-12.fadeInUp(data-animation='fadeInUp').text-center
        .judge
          h3 Seth Bergmann
          h4 Rowan Computer Science professor
