section#workshops.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center.section-padding-bottom
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Workshops
        .row.section-padding-bottom
        .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 What is a Hackthon?
          p
          | Is this your first hackathon? Well this is the workshop for you! Presented by a founder of ProfHacks and engineer at Google, Nick Felker, this workshops is perfect for you to see what ProfHacks has in store for the next 24 hours. 
        .row.section-padding-bottom
        .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 What is Smart Space?
          p
          | Come to find out where you can take Smart Space in your hack. Lead organizers, Kevin O'Hare and Ben Jukus, will present their work on Rowan's CubeSat research nanosatellite. 
          .row.section-padding-bottom
        .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Intro to Arduino
          p
          | Villanova University's Ed Dougherty will introduce Arduino microcontroller programming. Ed will walk you through the basics of Arduino and lay the foundation to build a successful hack. Please come to this workshop with the Arduino IDE installed.
          .row.section-padding-bottom
        .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Webtime with John
          p
          | ProfHacks' very own John McAvoy will walk you through the basics of web development. Within an hour, you can leave with your very own website! Use the skills you learn here, to improve your hack and wow the judges.
          .row.section-padding-bottom
        .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 IEEE Workshop
          p
          | Chris Dietsch, IEEE Region 2's Young Professional Chair, will tell you what IEEE has to offer. IEEE (Institute of Electrical and Electronics Engineers) is a professional engineering organization with plenty of benefits to offer. Come to this workshop to network, learn and broaden your horizons.